
:root {
  --primary-color: #37432D;
  --secondary-color: #474A2B;
  --tertiary-color: #BD9D46;
  --background-color: #b5b98dc4;
  --post-color: #30451f81;
}

* {
    box-sizing: border-box;
  }

  body, html {
     height: fit-content; 
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: var(--background-color);
    min-height: 100%;
  }
  
  a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    transition: color .1s;
  }
  
  .dark-mode a {
    text-decoration: none;
    color: var(--background-color);
    font-weight: bold;
    transition: color .1s;
  }

  a:hover {
    color: var(--tertiary-color);
  }

  label {
    font-size: 20px;
  }

  main li {
    background-color: var(--post-color);
    border-radius: 20px;
    padding: 20px;
    font-size: large;
    text-align: center;
  }

  main li a {
    font-size:larger;
  }

  button {
    background-color: var(--secondary-color);
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid var(--secondary-color);
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }
  
  header h1 {
    font-size: 1em;
    padding: 10px;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style:hover {
    background: none;
    color: var(--primary-color);
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #5d5d5d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input {
    width: 300px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid #37432D;
    display: flex;
    justify-content: center; 
    padding: 1%;
    font-size: 110%;
    background-color: transparent;
    position: sticky;
  }